In [1]:
import numpy as np
import pandas as pd
import math
import statistics
from sklearn.linear_model import LinearRegression
import statsmodels
import statsmodels.api
import matplotlib.pyplot as plt

In [5]:
df_1 = pd.read_csv("債券複利データセット3.csv")
df_1 = df_1.drop(df_1.columns[0], axis=1)
columns_len = len(df_1.columns)
length = len(df_1)
df_1

      GJGC2  GJGC5  GJGC7  GJGC10  GJGC15  GJGC20  GJGC30  GJGC40
0    -0.128 -0.114 -0.080   0.030   0.242   0.414   0.649   0.666
1    -0.128 -0.119 -0.084   0.025   0.231   0.405   0.635   0.649
2    -0.123 -0.104 -0.079   0.030   0.231   0.410   0.643   0.661
3    -0.129 -0.104 -0.079   0.030   0.226   0.414   0.649   0.670
4    -0.129 -0.098 -0.069   0.045   0.252   0.438   0.658   0.679
...     ...    ...    ...     ...     ...     ...     ...     ...
1076  0.759  1.010  1.136   1.452   1.989   2.340   2.778   3.048
1077  0.774  1.030  1.154   1.466   2.004   2.366   2.804   3.083
1078  0.769  1.030  1.159   1.471   2.028   2.391   2.808   3.086
1079  0.753  1.015  1.140   1.452   2.016   2.383   2.808   3.096
1080  0.753  1.010  1.140   1.452   2.031   2.396   2.805   3.084

[1081 rows x 8 columns]

In [7]:
df_1 = pd.read_csv("債券複利データセット3.csv")
df_1 = df_1.drop(df_1.columns[0], axis=1)
columns_len = len(df_1.columns)
length = len(df_1)
df_1
df_1["select_fly"] = df_1["GJGC5"]*2 - df_1["GJGC2"] - df_1["GJGC7"]
df_1 = df_1.drop('GJGC2',axis=1)
df_1 = df_1.drop('GJGC5',axis=1)
df_1 = df_1.drop('GJGC7',axis=1)
df_1 = df_1.drop('GJGC10',axis=1)
df_1 = df_1.drop('GJGC15',axis=1)
df_1 = df_1.drop('GJGC20',axis=1)
df_1 = df_1.drop('GJGC30',axis=1)
df_1 = df_1.drop('GJGC40',axis=1)
df_1

        select_fly
0    -2.000000e-02
1    -2.600000e-02
2    -6.000000e-03
3     1.387779e-17
4     2.000000e-03
...            ...
1076  1.250000e-01
1077  1.320000e-01
1078  1.320000e-01
1079  1.370000e-01
1080  1.270000e-01

[1081 rows x 1 columns]

In [8]:
df_array = df_1.to_numpy()
df_array = np.squeeze(df_array)
df_array

array([-0.02 , -0.026, -0.006, ...,  0.132,  0.137,  0.127])